# =================================================
# NEXTFLOW
# =================================================
work/
.nextflow/
.nextflow.log*
.timeline*
.report*
.trace*
.dag*

# =================================================
# PYTHON
# =================================================
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# =================================================
# ENVIRONMENTS
# =================================================
.env
.venv/
env/
venv/

# =================================================
# IDE / EDITORS
# =================================================
.vscode/
.idea/

# =================================================
# OS FILES
# =================================================
.DS_Store
Thumbs.db

# =================================================
# DATA (exclude raw data, keep placeholder)
# =================================================
data/*
!data/README.md

# =================================================
# RESULTS (exclude heavy outputs, keep examples only)
# =================================================
results/*
!results/figures/
!assets/

# =================================================
# LOGS
# =================================================
*.log